<style type="text/css">
  .header {
    /* background: #8a8a8a; */
  }
  .header .columns {
    padding-bottom: 0;
  }
  .header p {
    color: #fff;
    padding-top: 15px;
  }
  .header .wrapper-inner {
    padding: 20px;
  }
  .header img {
      background-color: #3333;
  }
  .header .container {
    background: transparent;
  }
  table.button.facebook table td {
    background: #3B5998 !important;
    border-color: #3B5998;
  }
  table.button.twitter table td {
    background: #1daced !important;
    border-color: #1daced;
  }
  table.button.google table td {
    background: #DB4A39 !important;
    border-color: #DB4A39;
  }
  .wrapper.secondary {
    background: #f3f3f3;
  }
</style>
  
  
  
  <wrapper class="header">
    <container>
      <row class="collapse">
        <columns small="6">
          <img src="cid:logo">
        </columns>
        <columns small="6">
          <p class="text-right">BASIC</p>
        </columns>
      </row>
    </container>
  </wrapper>
  
  <container>
  
    <spacer size="16"></spacer>
  
    <row>
      <columns small="12">
  
        <h1>Hola <%= nombre %>,</h1>
        <p class="lead">Estás a un paso de completar el registro en iSolaris.</p>
        <p>Para continuar, haz click en <a href="<%= url %>/verify/<%= token %>">este enlace para terminar</a></p>
        <callout class="primary">
          <p>Tienes solo 1h para terminar el registro o el enlace caducará. Date prisa!</p>
        </callout>
      </columns>
      <columns>
        <h5>Este emnsaje ha sido enviado porque has registrado esta dirección email en iSolaris</h5>
        <p>Si no has solicitado el registro, simplemente ignora este mensage y no voveremos a enviar ningún correo</p>
      </columns>
    </row>
    <wrapper class="secondary">
  
      <spacer size="16"></spacer>
  
      <row>
        <columns large="6">
          <h4>iSolaris</h4>
          <button class="facebook expand" href="http://isolaris.com">Facebook</button>
          <button class="twitter expand" href="http://isolaris.com">Twitter</button>
          <button class="google expand" href="http://isolaris.com">Google+</button>
        </columns>
        <columns large="6">
          <h5>Contact Info:</h5>
          <p>Tlf.: 111-222-333</p>
          <p>Email: <a href="mailto:info@isolaris.com">info@isolaris.com</a></p>
        </columns>
      </row>
    </wrapper>
  </container>